<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.BookMapper">
    <insert id="addBook" parameterType="book">
        insert into mybatis.books (bookName, bookCounts, detail)
        values (#{bookName}, #{bookCounts}, #{detail});
    </insert>

    <delete id="deleteBookById" parameterType="_int">
        delete
        from mybatis.books
        where bookID = #{bookID}
    </delete>

    <update id="updateBook" parameterType="book">
        update mybatis.books
        set bookName   = #{bookName},
            bookCounts = #{bookCounts},
            detail=#{detail}
        where bookID = #{bookID};
    </update>

    <select id="queryBookById" parameterType="_int" resultType="book">
        select *
        from mybatis.books
        where bookID = #{bookID};
    </select>

    <select id="queryAllBooks" resultType="book">
        select *
        from mybatis.books;
    </select>

    <select id="queryBookByName" parameterType="string" resultType="book">
        select *
        from mybatis.books
        where bookName like concat('%', #{bookName}, '%');
    </select>
</mapper>