<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.BookMapper">
    <insert id="addBook" parameterType="book">
        insert into books (book_name, book_count, detail, book_date)
        values (#{bookName}, #{bookCounts}, #{detail}, #{bookDate});
    </insert>

    <delete id="deleteBookById" parameterType="_int">
        delete
        from books
        where book_id = #{bookID}
    </delete>

    <update id="updateBook" parameterType="book">
        update books
        set book_name  = #{bookName},
            book_count = #{bookCounts},
            detail     = #{detail},
            book_date  = #{bookDate}
        where book_id = #{bookID};
    </update>

    <select id="queryBookById" parameterType="_int" resultType="book">
        select *
        from books
        where book_id = #{bookID};
    </select>

    <select id="queryAllBooks" resultType="book">
        select *
        from books;
    </select>

    <select id="queryBookByName" parameterType="string" resultType="book">
        select *
        from books
        where book_name like concat('%', #{bookName}, '%');
    </select>
</mapper>